<h2>Bem vindo, {{name}}</h2>
<br>
<section>
    Sua idade é {{retornaIdade(1992)}}
    <br>
    <div>
        <p class="row my-4">exemplo de properties binding</p>
        <img [src]="imgUrl" [alt]="imgDesc">
    </div>
    <div>
        <h3>Event Bind</h3>
        <br>
        <button (click)="clicou()">Clique</button>
        <br>
    </div>
    <div>
        <br>
        <h3>Event Bind recebendo argumento</h3>
        <input #input (keyup)="recebendoArgumento(input.value)">
        {{input.value}}
    </div>
    <div>
        <h3>Class Binding</h3>
        <br>
        <button [attr.aria-label]="buttonText">{{buttonText}}</button>
    </div>
    <div>
        <br>
        <h1 [class.text-red]="isRed">Binding de classes</h1>
    </div>
</section>


