<h2 >Bem vindo, {{name}}</h2>
<br>
<section [style.font-size]='fontSize'>
    Sua idade é {{retornaIdade(1992)}}
    <br>
    <div>
        <p class="row my-4">exemplo de properties binding</p>
        <img [src]="imgUrl" [alt]="imgDesc" [style.width.px]="widthImg">
    </div>
    <div>
        <h3>Event Bind</h3>
        <br>
        <button (click)="clicou()">Clique</button>
        <br>
    </div>
    <div>
        <br>
        <h3 >Event Bind recebendo argumento</h3>
        <input #input (keyup)="recebendoArgumento(input.value)" >
        {{input.value}}
    </div>
    <div>
        <h3>Class Binding</h3>
        <br>
        <button [attr.aria-label]="buttonText" [style.background-color]="bgColor">{{buttonText}}</button>
    </div>
    <div>
        <br>
        <h1 [class.text-red]="isRed">Binding de classes</h1>
    </div>
    <div>
        <h3>Como funciona o Two-Way Data Biding</h3>
        <input type="text" class="form-control" [(ngModel)]="textInput">
        <p class="text-default">{{textInput}}</p>
    </div>
</section>
<h1>
    Transferindo dados entre componentes - Parte 1 - Pai p/ o filho
    <section class="column"></section>
    <app-button [btnText]="'cancelar'" [btnType]="'btn-danger'"></app-button>
    <br>
    <app-button [btnText]="'Salvar'" [btnType]="'btn-success'"></app-button>
    <br>
    <app-button [btnText]="'Clique Aqui'" [btnType]="'btn-primary'"></app-button>
    <br>
    <app-button [btnText]="'test'" [btnType]="'btn-default'"></app-button>
</h1>
<h1>
    Transferindo dados entre componentes - Parte 2 - Filho p/ o pai
    <section class="column"></section>
    <app-button [btnText]="'cancelar'" [btnType]="'btn-danger'" (clickChildren)="clicouNoFilho($event)"></app-button>
</h1>

