<div class="card w-100 my-5">
    <div class="card-body">
        <h1 class="card-title text-center">Formulário de cursos</h1>
        <form [formGroup]="courseForm">
            <div class="row my-4">
                <div class="col-6">
                    <div class="form-floating">
                        <input type="text" class="form-control" formControlName="curso" id="curso" placeholder="Digite o nome do curso">
                        <label for="curso">Curso</label>
                    </div>
                </div>  
                <div class="col-6">
                    <div class="form-floating">
                        <input  type="number" min="0" class="form-control" formControlName="duracao" id="duracao" placeholder="Digite a duracao do curso">
                        <label for="duracao">Duracao</label>
                    </div>
                </div>
            </div>
  
            <div class="row my-4">
                <div class="col-6">
                    <div class="form-floating">
                        <input type="date" class="form-control" formControlName="inicio" id="inicio" placeholder="Digite a data inicio">
                        <label for="inicio">Inicio</label>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-floating">
                        <input type="date" class="form-control" formControlName="fim" id="fim" placeholder="Digite a data fim">
                        <label for="fim">Fim</label>
                    </div>
                </div>
            </div>
            
            <div class="row my-4">
                <div class="form-group col-12 mt-4">
                    <button routerLink="/" type="button" class="btn btn-outline-danger float-start">Cancelar</button>
                    <button type="button" class="btn btn-outline-success float-end" (click)="actionButton()" routerLink="/">Enviar</button>
                </div>
            </div>
        </form>
    </div>
</div>
